.advantages {
  padding-top: 50px;
  padding-bottom: 60px;

  @media (min-width: $tablet-width) {
    padding-top: 60px;
    padding-bottom: 100px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 100px;
    padding-bottom: 120px;
  }
}

.advantages__wrapper {
  padding: 0 20px;

  @media (min-width: $desktop-width) {
    padding: 0;
    margin: 0 auto;
    width: 1360px;
  }
}

.advantages__title {
  @include font-values(700, 12px, 1.33, $color-brand);
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 0.5px;
  margin: 0;
  margin-bottom: 5px;
}

.advantages__description {
  @include font-values(700, 24px, 1.50);
  text-align: center;
  margin: 0;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    @include font-values(700, 42px, 1.52);
    margin-bottom: 59px;
    padding: 0 40px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 79px;
  }
}

.advantages__list {
  @include reset-list();
  display: grid;
  row-gap: 32px;

  @media (min-width: $tablet-width) {
    grid-template-columns: 1fr 1fr;
    padding: 0 10px;
    row-gap: 51px;
    column-gap: 30px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: repeat(4, 1fr);
    padding: 0;
  }
}

.advantages__item {
  display: grid;
  text-align: center;

  &::before {
    margin-bottom: 10px;
    content: "";
    display: block;
    width: 52px;
    height: 56px;
    justify-self: center;
    background-color: $main-color;
    background-image: url("../../img/icons-background/leaf.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
  }

  &--speed::before {
    background-image: url("../../img/icons-background/clock.svg")
  }

  &--comfort::before {
    background-image: url("../../img/icons-background/shield.svg")
  }

  &--energy::before {
    background-image: url("../../img/icons-background/lightning.svg")
  }

  &--ecology::before {
    background-image: url("../../img/icons-background/leaf.svg")
  }

  @media (min-width: $tablet-width) {
    grid-template-columns: 52px 1fr;
    text-align: left;
    column-gap: 20px;
    row-gap: 10px;

    &::before {
      grid-row: 1 / 3;
    }

    &--speed::before,
    &--ecology::before {
      margin-top: 5px;
    }
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: auto;
    text-align: center;
    column-gap: 0;

    &::before {
      grid-row: auto;
    }

    &--speed::before,
    &--ecology::before {
      margin-top: 0;
    }
  }
}

.advantages__item-title {
  @include font-values(700, 18px, 1.78);
  margin: 0;
  margin-bottom: 4px;

  @media (min-width: $tablet-width) {
    @include font-values(700, 24px, 1.50);
    margin-bottom: 0;
  }
}

.advantages__item-description {
  margin: 0;

  @media (min-width: $tablet-width) {
    @include font-values(400, 16px, 1.50);
    grid-column: 2 / -1;
  }

  @media (min-width: $desktop-width) {
    grid-column: auto;
    line-height: 1.5;
  }
}
