@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin font-values($weight: 400, $size: 15px, $height: 1.6, $color: $main-color-text) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  color: $color;
}
